* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  font-family: "poppins", sans-serif;
}
header {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.x {
  color: yellowgreen;
  font-family: "Courier New", Courier, monospace;
}
.icons {
  text-align: right;
}
.icons a {
  text-decoration: none;
  margin-right: 20px;
}
.fa-solid.fa-house.fa-5x {
  color: gray;
}
body {
  margin: 0px;
  background-color: rgb(255, 255, 255);
  background-image: url(Images/a7adf41edf32a903205261917fb7d1e6.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.contact {
  background-color: #ffffff;
}
main {
  margin-left: 20px;
  margin-right: 20px;
}
.header-bottom {
  text-align: center;
}

.navbar {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.navbar ul {
  list-style-type: none;
  background-color: rgb(60, 98, 213);
  overflow: hidden;
  padding: 0;
  margin: 0;
}
.navbar a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  display: block;
}
.navbar a:hover {
  background-color: rgb(81, 100, 187);
}
.navbar li {
  display: inline-block;
  text-align: center;
}
.div1 img {
  width: 200px;
  height: 200px;
}
main h3 {
  text-align: center;
  font-size: xx-large;
}
.header-Top {
  display: flex;
}
.title {
  width: 50%;
}
.icons {
  padding-top: 10px;

  width: 50%;
  text-align: right;
}
form h3 {
  color: rgb(125, 133, 54);
}
.contact .form-group {
  margin-bottom: 15px;
}

.contact .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
input {
  font-size: large;
}



/* Home */

.container {
  width: 90vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  overflow: hidden;
  border: 20px solid #c78a18;
  border-radius: 8px;
  box-shadow: 10px 25px 30px rgba(30, 30, 200, 0.3);
}
.wrapper {
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}
.wrapper img {
  width: 100%;
  display: flex;
}
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-100%);
  }
  55% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-200%);
  }
  80% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-300%);
  }
}

/*Contact Us */
.text {
  background-color: rgb(192, 215, 193);
  text-align: center;
}
.text1 {
  background-color: rgb(201, 205, 192);
}
.text .text1 p {
  color: rgb(76, 83, 80);
}
.text a {
  text-decoration: none;
  color: rgb(245, 246, 245);
}
.text p {
  color: gray;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  bottom: 0;
  width: 100%;
}
footer p {
  color: lightslategray;
}
.map {
  text-align: center;
}
.contact .form-group {
  margin-bottom: 15px;
}

.contact .form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.contact .form-group input,
.contact .form-group textarea {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.contact button {
  padding: 10px 20px;
  background-color: cornflowerblue;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  align-self: center;
}
.contact button:hover {
  background-color: #4682b4;
}
.wallpaper img {
  width: 100%;
  border-top: solid 2px #eff1f4;
}
/*About Us */
.h-bottom {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4b3838;
}
.our-mission {
  background-color: #ccc;
  text-align: center;
  display: flex;
}
.mission {
  font-size: x-large;
  padding: 50px;
}
.text-mission strong {
  color: #485449;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text-mission p {
  color: #485449;
  font-family: Arial, Helvetica, sans-serif;
}

.our-product {
  background-color: #ccc;
  text-align: center;
  display: flex;
}
.product {
  font-size: x-large;
  padding: 50px;
}
.text-product strong {
  color: #485449;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text-product p {
  color: #485449;
  font-family: Arial, Helvetica, sans-serif;
}

.our-vision {
  background-color: #ccc;
  text-align: center;
  display: flex;
}
.vision {
  font-size: x-large;
  padding: 50px;
}
.text-vision strong {
  color: #485449;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.text-vision p {
  color: #485449;
  font-family: Arial, Helvetica, sans-serif;
}

/* Products*/

.cont h3 {
  text-align: center;
  font-size: 30px;
  margin: 0;
  padding-top: 10px;
}
.gallary {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}
.cont {
  width: 20%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: #f2f2f2;
}
.cont:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.22);
  transform: translate(0px, -8px);
}
.cont img {
  width: 200px;
  height: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
}
.cont p {
  text-align: center;
  color: #293236;
  padding-top: 0 8px;
}
.cont h6 {
  font-size: 26px;
  text-align: center;
  color: #222f3e;
  margin: 0;
}
.cont ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.cont li {
  padding: 5px;
}
.fa {
  font-size: 26px;
  transition: 0.4s;
}
.fa:hover {
  transform: scale(1.3);
  transition: 0.6s;
}
.checked {
  color: #ff9f43;
}
.cont button {
  text-align: center;
  font-size: 24px;
  color: #fff;
  width: 100%;
  padding: 15px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 5px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}
.buy-1 {
  background-color: #2183a2;
}

@media (max-width: 1000px) {
  .cont {
    width: 45%;
  }
}
@media (max-width: 750px) {
  .cont {
    width: 100%;
  }
}

/* FILTER DROPDOWN UNDER TITLE */
.filter-condition {
    display: flex;
    justify-content: center; /* center horizontally */
    margin: 10px 0 30px 0;   /* space between title and products */            /* remove unnecessary padding */
}

.filter-condition select {
    background-color: #f5f5f5;
    color: #333;
    border: 2px solid #c7c7c7;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.filter-condition select:hover {
    background-color: #ffffff;
    border-color: yellowgreen;
    box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}

.filter-condition select:focus {
    border-color: #a5d6a7;
    box-shadow: 0 0 0 3px rgba(155, 207, 102, 0.3);
}



/* Cart */

.cart-container {
  width: 600px;
  margin: auto;
  transition: 0.5s;
}
.cart-container header {
  display: grid;
  grid-template-columns: 1fr 50px;
  margin-top: 50px;
}
.cart-container header .shopping {
  position: relative;
  text-align: right;
}

.cart-container header .shopping span {
  background-color: red;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: absolute;
  top: -30px;
  left: 75%;
  padding: 3px 10px;
}

.cart-container .list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  margin-top: 50px;
}
.cart {
  position: fixed;
  top: 0;
  left: 100%;
  width: 500px;
  background-color: #453e3b;
  height: 100vh;
  transition: 0.5s;
}

.cart h1 {
  color: #e8bc0e;
  font-weight: 100;
  margin: 0;
  padding: 0 20px;
  height: 80px;
  display: flex;
  align-items: center;
}
.cart .checkOut {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.cart .checkOut div {
  background-color: #e8bc0e;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
}
.cart .checkOut div:nth-child(2) {
  background-color: #1c1f25;
  color: #fff;
}

.cart .checkOut .buyButton {
  background-color: #1c1f25;
  color: #e8bc0e;
  border: none;
  padding: 20px 0;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  margin-left: 130px;
}
.cart .buyButton:hover {
  background-color: #e8bc0e;
  color: #1c1f25;
}

.active .cart {
  left: calc(100% - 500px);
}
.active .cart-container {
  transform: translateX(-200px);
}

.cart .listCard {
  list-style: none;
  padding: 0;
  margin: 0 20px;
  max-height: 70vh;
  overflow-y: auto;
}

.cart .listCard li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #0ee83a;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 10px;
}

.cart .listCard li img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 10px;
}

.cart .listCard li .item-details {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.cart .listCard li .item-details .item-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cart .listCard li .item-details .item-price,
.cart .listCard li .item-details .item-quantity {
  font-size: 14px;
  color: #555;
}

.cart .listCard li button {
  background-color: #e8bc0e;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart .listCard li button:hover {
  background-color: #796e45;
}

/* sign up */

.signup-cont {
  background-color: #4682b4;
  width: 450px;
  padding: 1.5rem;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 20px 35px rgba(0, 0, 1, 0.9);
}
form {
  margin: 0 2rem;
}
.form-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding: 1.4rem;
  margin: 0.4rem;
}
.input-group input {
  color: inherit;
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding-left: 1.5rem;
  font-size: 15px;
}
.input-group {
  padding: 1% 0;
  position: relative;
}
.input-group i {
  position: absolute;
  color: black;
}
.input-group input:focus {
  background-color: transparent;
  outline: transparent;
  border-bottom: 2px solid hsl(327, 90%, 28%);
}
.input-group label {
  position: relative;
  left: 1.2em;
  top: -1.3em;
  cursor: auto;
  transition: 0.3s ease all;
}
.recover {
  text-align: right;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.recover a {
  color: rgb(125, 125, 235);
  text-decoration: none;
}
.recover a:hover {
  color: blue;
  text-decoration: underline;
}
.btn {
  font-size: 1.1rem;
  padding: 8px 0;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100%;
  background: rgb(125, 125, 235);
  color: white;
  transition: 0.9s;
  cursor: pointer;
}
.btn:hover {
  background-color: #07001f;
}
.or {
  font-size: 1.1rem;
  margin-top: 0.5rem;
  text-align: center;
}
.icon {
  text-align: center;
}
.icon i {
  color: rgb(125, 125, 235);
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  font-size: 1.5rem;
  cursor: pointer;
  border: 2px solid #5e95d7;
  margin: 0 15px;
  transition: 1s;
}
.icon i:hover {
  background-color: #07001f;
  font-size: 1.6rem;
  border: 2px solid rgb(125, 125, 235);
}
.links {
  display: flex;
  justify-content: space-around;
  padding: 0 4rem;
  margin-top: 0.9rem;
  font-weight: bold;
}
.links button {
  color: #5e95d7;
  border: none;
  background-color: transparent;
  font-size: 1rem;
  font-weight: bold;
}
.links button:hover {
  text-decoration: underline;
  color: blue;
}
@media (max-width: 1200px) {
  .cont {
    width: 30%;
  }
}
@media (max-width: 1000px) {
  .cont {
    width: 45%;
  }
}
@media (max-width: 750px) {
  .cont {
    width: 100%;
  }
}
